<div th:fragment="insert-form">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Save data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:object="${brg}" th:action="@{save}" method="POST">
                        <table width="25%">
                            <tr>
                                <td>ID</td>
                                <td>:</td>
                                <td><input type="text" th:field="*{id}" /></td>
                            </tr>

                            <tr>
                                <td>Nama</td>
                                <td>:</td>
                                <td><input type="text" th:field="*{nama}" /></td>
                            </tr>

                            <tr>
                                <td>Stok</td>
                                <td>:</td>
                                <td><input type="number" th:field="*{stok}" /></td>
                            </tr>

                            <tr>
                                <td>Harga Satuan</td>
                                <td>:</td>
                                <td><input type="number" th:field="*{hargaSatuan}"/></td>
                            </tr>
                        </table>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" name="Save" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>